<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Space Battle!</title>
    <%- include('partials/head.ejs') %>
</head>
<body>

<% if(currentUser) { %>
    <div class="modal">
        <div class="title">
            <p>Welcome, <%= currentUser.username %></p>
        </div>
        <% if(currentUser.ship) { %>
            <div class="ship-stats">
                <p>Stats:</p>
                <p>Level: <%= currentUser.ship.level %></p>
                <p>XP: <%= currentUser.ship.experience %></p>
                <p>HP: <%= currentUser.ship.hp  %></p>
                <p>Damage: <%= currentUser.ship.damage %></p>
            </div>
            <% } %>
        <div class="buttons">
            <a id="play" class="button" href="/enemy/1">Play</a>
        </div>
    </div>
<% } else { %>
    <div class="modal">
        <div class="title">
            <p>Login/Signup</p>
        </div>
        <div class="buttons">
            <a id="new-account" class="button" href="/users/new">New Account</a>
            <a id="login" class="button" href="/sessions/new">Login</a>
        </div>
    </div>
<% } %>

<div class="modal next-level" style="display: none;">
    <div class="title">
        <p>Level <span class="level">1</span></p>
    </div>
    <div class="buttons">
        <a id="play" class="button" href="/enemy/1">Play</a>
    </div>
</div>
<div id="space"></div>
<%- include ('partials/scripts.ejs') %>
</body>
</html>